<section class="info-equipe">
  <div>
    <img ngSrc="assets/team.png" width="600" height="580" />
    <div class="texto">
      <h3>Equipe capacitada</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
        Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla,
        mattis ligula consectetur.
      </p>
    </div>
  </div>
  <div>
    <img ngSrc="assets/project-guide.png" width="600" height="580" />
    <div class="texto">
      <h3>Seus projetos guiados do zero</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
        Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla,
        mattis ligula consectetur.
      </p>
    </div>
  </div>
</section>
